<ion-header>
  <ion-toolbar>
    <ion-title>Puro Malte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button color="dark" expand="block" href="/home">Home</ion-button>
  <ion-card>
    <ion-card-header>
      <ion-img src="assets/proibida-card-header.png"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Puro Malte</ion-card-subtitle>
      <ion-card-title>Proibida</ion-card-title>
      <p>Probida. A cerveja número 10.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
