<ion-header>
  <ion-toolbar>
    <ion-title>Pilsen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button color="dark" expand="block" [routerLink]="['/home']">Home</ion-button>
    <ion-card>
      <ion-card-header>
        <ion-img src="assets/eisenbahn-card-header.jpg"></ion-img>
    </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>Pilsen</ion-card-subtitle>
        <ion-card-title>Eisenbahn</ion-card-title>
        <p>A autêntica cerveja.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
