<ion-header>
  <ion-toolbar>
    <ion-title>
      Loja de Cerveja
    </ion-title>
    <ion-buttons slot='primary'>
      <ion-button [routerLink]='["/add-cerveja"]'>
        <ion-icon color='danger' name='add-circle' ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h6>Bem vindo ao app de cerveja, mais famoso do Brasil.</h6>
  <div *ngIf="cervejas.length > 0">
    <h2>Conheça nossas cervejas</h2>
    <div *ngFor="let cerveja of cervejas">
      <ion-card (click)="detalhes(cerveja.nome)">
          <ion-card-content>
              <h2>{{cerveja.nome}}</h2>
              <p> {{cerveja.descricao}} </p>
              <p style="text-align: right">
                <ion-button color='danger' size='small' (click)="excluir(cerveja.nome)"><ion-icon name='trash' ></ion-icon></ion-button>
              </p>
          </ion-card-content>
        </ion-card>
    </div>
  </div>
  <div *ngIf="cervejas.length === 0">
    <p>Ainda não há cervejas cadastradas.</p>
    <ion-button [routerLink]='["/add-cerveja"]'>Cadastrar agora</ion-button>
  </div>

</ion-content>
